* {
    background-color: #0d0b33;
    color: white;
}

.heading {
    text-align: center;
    font-size: 20px;
}

.topIcon {
    color: greenyellow;
    font-size: 50px;
}

.listimage {
    height: 100px;
    width: 80px;
}

.img-heading {
    text-align: center;
    margin-top: 5%;
}

.fireIcon {
    color: #FFA012;
}

.list-container {
    text-align: center;
}

.penIcon,
.plusIcon {
    background-color: white;
}

.plusIcon {
    font-weight: 900;
    cursor: pointer;
}

.plusIcon:hover {
    color: blue;
}

.checkbtn {
    margin-top: 3%;
    background-color: white;
    width: 130px;
    height: 45px;
    line-height: 45px;
    color: #8c8c8c;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.listContent {
    width: 100%;
    margin-top: 2%;
}

.listItem {
    background-color: #6523FA;
    width: 30vw;
    height: 40px;
    margin-top: 1%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.inputField {
    width: 30vw;
}

@media only screen and (max-width: 950px) {
    .inputField {
        width: 60vw;
    }
    .listItem {
        width: 60vw;
    }
}
@media only screen and (max-width: 420px) {
    .inputField {
        width: 80vw;
    }
    .listItem {
        width: 80vw;
        margin-top: 2%;
    }
    .listContent {
        margin-top: 3%;
    }
}